In [20]:
import pandas as pd
import numpy as np
import random
from faker import Faker

# Initialize the Faker object for generating fake data
fake = Faker()

# Set the random seed for reproducibility
Faker.seed(42)
random.seed(42)

# Generate fake data
def generate_employee_data(num_rows):
    data = []
    departments = ['Sales', 'Marketing', 'HR', 'Engineering', 'Finance', 'Operations']
    for _ in range(num_rows):
        employee_id = fake.unique.random_number(digits=5)
        name = fake.name()
        department = random.choice(departments)
        salary = round(random.uniform(40000, 120000), 2)
        age = random.randint(22, 60)
        date_of_joining = fake.date_this_decade()
        performance_score = random.choice([np.nan, round(random.uniform(1, 5), 1)])  # Random NaN for missing data
        data.append([employee_id, name, department, salary, age, date_of_joining, performance_score])
    return data

# Generate a dataset of 100 rows
num_employees = 100
employee_data = generate_employee_data(num_employees)

# Create a DataFrame
columns = ['EmployeeID', 'Name', 'Department', 'Salary', 'Age', 'DateOfJoining', 'PerformanceScore']
df = pd.DataFrame(employee_data, columns=columns)

# Introduce some missing values at random
df.loc[random.sample(range(df.shape[0]), 10), 'Salary'] = np.nan
df.loc[random.sample(range(df.shape[0]), 5), 'Age'] = np.nan
df.loc[random.sample(range(df.shape[0]), 8), 'PerformanceScore'] = np.nan

# Display the first few rows of the fake dataset
print("Original Dataset with Missing Values")
df.

Original Dataset with Missing Values

,EmployeeID,Name,Department,Salary,Age,DateOfJoining,PerformanceScore
0,83810,Patrick Sanchez,Operations,48906.49,39.0,2020-09-18,NaN
1,13434,Stephanie Miller,Operations,48199.61,56.0,2022-02-28,1.3
2,3905,David Guzman,Sales,42383.78,35.0,2022-11-16,NaN
3,93850,Kimberly Robinson,Finance,55907.01,56.0,2023-01-07,2.7
4,851,Caitlin Henderson,Finance,62255.26,22.0,2021-06-03,NaN
5,28221,Gabrielle Davis,Operations,73809.15,39.0,2020-06-29,1.6
6,45082,Renee Blair,Sales,47419.67,28.0,2022-09-30,2.4
7,49615,Edward Fuller,Finance,61161.67,24.0,2024-07-14,NaN
8,47400,Michele Williams,Engineering,46304.02,NaN,2021-03-02,4.3
9,37930,Dr. Sharon James,Finance,55383.09,26.0,2022-04-28,NaN

In [23]:
# Data cleaning

# 1. Handling Missing Values
# Impute missing 'Salary' with the median salary
df['Salary'] = df['Salary'].fillna(df['Salary'].median())

# Impute missing 'Age' with the median age
df['Age'] = df['Age'].fillna(df['Age'].median())

# Impute missing 'PerformanceScore' with the median score
df['PerformanceScore'] = df['PerformanceScore'].fillna(df['PerformanceScore'].median())

# 2. Convert 'DateOfJoining' to datetime
df['DateOfJoining'] = pd.to_datetime(df['DateOfJoining'])

# 3. Remove Duplicates based on 'EmployeeID'
df = df.drop_duplicates(subset='EmployeeID')

# 4. Check for any negative values in 'Salary' and 'Age' (outlier handling)
df['Salary'] = df['Salary'].clip(lower=0)
df['Age'] = df['Age'].clip(lower=18)  # Ensure no employees have age less than 18

# 5. Optional: Check for outliers in 'Salary' and 'Age' (e.g., using z-scores or IQR, but for simplicity let's assume clean data here)

# Final cleaned data preview
print("\nCleaned Dataset")
df.head(10)

Cleaned Dataset

,EmployeeID,Name,Department,Salary,Age,DateOfJoining,PerformanceScore
0,83810,Patrick Sanchez,Operations,48906.49,39.0,2020-09-18,2.8
1,13434,Stephanie Miller,Operations,48199.61,56.0,2022-02-28,1.3
2,3905,David Guzman,Sales,42383.78,35.0,2022-11-16,2.8
3,93850,Kimberly Robinson,Finance,55907.01,56.0,2023-01-07,2.7
4,851,Caitlin Henderson,Finance,62255.26,22.0,2021-06-03,2.8
5,28221,Gabrielle Davis,Operations,73809.15,39.0,2020-06-29,1.6
6,45082,Renee Blair,Sales,47419.67,28.0,2022-09-30,2.4
7,49615,Edward Fuller,Finance,61161.67,24.0,2024-07-14,2.8
8,47400,Michele Williams,Engineering,46304.02,42.0,2021-03-02,4.3
9,37930,Dr. Sharon James,Finance,55383.09,26.0,2022-04-28,2.8