# Generate fake data

In [3]:
import pandas as pd
import numpy as np
import random
from faker import Faker

# Initialize the Faker object for generating fake dat
fake = Faker()

# Set the random seed for reproducibility
Faker.seed(42)
random.seed(42)

# Generate fake data
def generate_employee_data(num_rows):
    data = []
    departments = ['Sales', 'Marketing', 'HR', 'Engineering', 'Finance', 'Operations']
    for _ in range(num_rows):
        employee_id = fake.unique.random_number(digits=5)
        name = fake.name()
        department = random.choice(departments)
        salary = round(random.uniform(40000, 120000), 2)
        age = random.randint(22, 60)
        date_of_joining = fake.date_this_decade()
        performance_score = random.choice([np.nan, round(random.uniform(1, 5), 1)])  # Random NaN for missing data
        data.append([employee_id, name, department, salary, age, date_of_joining, performance_score])
    return data

# Generate a dataset of 100 rows
num_employees = 100
employee_data = generate_employee_data(num_employees)


# Create a DataFrame
columns = ['EmployeeID', 'Name', 'Department', 'Salary', 'Age', 'DateOfJoining', 'PerformanceScore']
df = pd.DataFrame(employee_data, columns=columns)

# Introduce some missing values at random
df.loc[random.sample(range(df.shape[0]), 10), 'Salary'] = np.nan
df.loc[random.sample(range(df.shape[0]), 5), 'Age'] = np.nan
df.loc[random.sample(range(df.shape[0]), 8), 'PerformanceScore'] = np.nan

# Display the first few rows of the fake dataset
print("Original Dataset with Missing Values")
df.head(10)

Original Dataset with Missing Values

,EmployeeID,Name,Department,Salary,Age,DateOfJoining,PerformanceScore
0,83810,Patrick Sanchez,Operations,48906.49,39.0,2020-09-18,NaN
1,13434,Stephanie Miller,Operations,48199.61,56.0,2022-02-28,1.3
2,3905,David Guzman,Sales,42383.78,35.0,2022-11-16,NaN
3,93850,Kimberly Robinson,Finance,55907.01,56.0,2023-01-08,2.7
4,851,Caitlin Henderson,Finance,62255.26,22.0,2021-06-04,NaN
5,28221,Gabrielle Davis,Operations,73809.15,39.0,2020-06-30,1.6
6,45082,Renee Blair,Sales,47419.67,28.0,2022-09-30,2.4
7,49615,Edward Fuller,Finance,61161.67,24.0,2024-07-15,NaN
8,47400,Michele Williams,Engineering,46304.02,NaN,2021-03-02,4.3
9,37930,Dr. Sharon James,Finance,55383.09,26.0,2022-04-28,NaN

# Replace any EmployeeID with less than 5 digits

In [4]:
# Load the existing CSV file into a DataFrame
df = pd.read_csv('employee_data.csv')

# Replace any EmployeeID with less than 5 digits
eid = df['EmployeeID']
for i in range(len(eid)):
    if len(str(eid[i])) < 5:
        new_id = fake.unique.random_number(digits=5)

        # Ensure the new ID is unique
        while new_id in df['EmployeeID'].values:
            new_id = fake.unique.random_number(digits=5)
        
        # Update the EmployeeID at the specified index
        df.at[i, 'EmployeeID'] = new_id

# Save the updated DataFrame back to the same CSV file
df.to_csv('employee_data.csv', index=False)
print("Existing file updated with new EmployeeID values.")

Existing file updated with new EmployeeID values.

# Get Info

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EmployeeID        100 non-null    int64
 1   Name              100 non-null    object
 2   Department        100 non-null    object
 3   Salary            100 non-null    float64
 4   Age               100 non-null    int64
 5   DateOfJoining     100 non-null    object
 6   PerformanceScore  100 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 5.6+ KB

# Check if any EmployeeID startswith zero

In [6]:

eid = df['EmployeeID']
for i in range(len(eid)):
    if str(eid[i]).startswith(str(0)):
        print(eid[i])

# Convert Date of Joining Dataset to datetime
df['DateOfJoining'] = pd.to_datetime(df['DateOfJoining'])
df.to_csv('employee_data.csv', index=False)

# Handle Missing Performance Score with Median and save to the csv file

In [7]:
df['PerformanceScore'] = df['PerformanceScore'].fillna(df['PerformanceScore'].median())
df.to_csv('employee_data.csv', index=False)

In [8]:

# Remove Duplicates based on 'EmployeeID'
df = df.drop_duplicates(subset='EmployeeID')

# Check for any negative values in 'Salary' and 'Age' (outlier handling)
df['Salary'] = df['Salary'].clip(lower=0)
df['Age'] = df['Age'].clip(lower=18)  # Ensure no employees have age less than 18

# Optional: Check for outliers in 'Salary' and 'Age' (e.g., using z-scores or IQR, but for simplicity let's assume clean data here)

# Final cleaned data preview
print("\nCleaned Dataset")
df.info()

Cleaned Dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EmployeeID        100 non-null    int64
 1   Name              100 non-null    object
 2   Department        100 non-null    object
 3   Salary            100 non-null    float64
 4   Age               100 non-null    int64
 5   DateOfJoining     100 non-null    datetime64[ns]
 6   PerformanceScore  100 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 5.6+ KB